/* -
 Header Section 
 - */

.announcement-bar {
  height: 30px;
  background-color: #ac6e3b;
  text-align: center;
}

.announcement-bar__text {
  font-size: 11px;
  line-height: 30px;
  color: #fff;
}

.header {
  height: 80px;
  background-color: #fff;
  position: absolute;
  top: 30;
  left: 0;
  right: 0;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 10px 20px;
  overflow: hidden;
}

.header__logo {
  height: 150%;
  align-items: center;
  margin-left: 70px;
}

.header__logo img {
  max-height: 100%;
  max-width: 100%;
}

.header__menu {
  display: flex;
  padding: 0;
  list-style: none;
  margin-right: auto;
  left: 50%;
}

.header__menu-item {
  list-style-type: none;
  margin: 0 25px;
}

.header__menu-item a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: 500;
}

.header__menu-item a:hover{
  color: #ac6e3b;
}

/* -
 Sub-menu 
 - */

.header__submenu {
  padding: 20px 50px;
  position: absolute;
 	top: 110%;
  left: 130px;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  border-radius: 5%;
}

.header__menu-item:hover .header__submenu {
  opacity: 1;
  visibility: visible;
}

.header__submenu-item {
  margin: 10px;
  list-style: none;
  padding-bottom: 1rem;
}

.header__submenu .header__submenu-item:nth-child(3) {
  padding-bottom: 0px;
}

.header__submenu-item a {
  color: #333;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.header__submenu-item a:hover {
  color: #ac6e3b;
}

/* -
 Right-side-options 
 - */

.header__options-on-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 70px;
}

.header__search-icon {
  cursor: pointer;
  margin-right: 28px;
  height: 20px;
  display: flex;
}

.header__search-box {
  position: absolute;
  left: -60%;
  width: 25%;
  height: 100%;
  display: flex;
  background: #fff;
  align-items: center;
  padding: 0 30px;
  transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.header__search-box input {
  width: 100%;
  border: none;
  outline: none;
  height: 35px;
  color: #333;
  font-size: 0.9em;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.header__search-box.active {
  left: 60%;
}

.header__my-account {
  cursor: pointer;
  margin-right: 25px;
  height: 21px;
  display: flex;
}

.header__cart {
  cursor: pointer;
  margin-right: 25px;
  height: 21px;
  display: flex;
}

/* 
Hero section
*/
/*can add gradient to img linear-gradient(180deg, rgba(109, 83, 73, 0.756) -35.49%, rgba(139, 108, 98, 0.3) 124.72%),*/
.hero {
  background-image: linear-gradient(180deg, rgba(109, 83, 73, 0.756) -35.49%, rgba(139, 108, 98, 0.3) 124.72%),url('/assets/1\ \(1\).jpeg');
  background-size: cover;
  background-position: center;
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero__title {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 30px;
}

.hero__subtitle {
  font-size: 24px;
  color: #fff;
  margin-bottom: 50px;
}

.hero__button {
  background-color: #ac6e3b;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 40px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.hero__button:hover {
  background-color: #c88146;
  cursor: pointer;
}

/* Footer Styles */
.footer {
  background-color:  rgb(138, 87, 53);
  color: #fff;
  padding: 9px;
  text-align: center;
 	height: 100px;
}

.footer__content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.footer__text {
  font-size: 1.2rem;
  margin-bottom: 20px;
}